#submit {
    top: 417px;
    left: 1551px;
    width: 282px;
    height: 68px;
    background: #F9EE89DB 0% 0% no-repeat padding-box;
    opacity: 1;
}

#profile {
    top: 532px;
    left: 1551px;
    width: 282px;
    height: 68px;
    background: #F9EE89DB 0% 0% no-repeat padding-box;
    opacity: 1;
}

#timeline {
    top: 417px;
    left: 1551px;
    width: 282px;
    height: 68px;
    background: #F9EE89DB 0% 0% no-repeat padding-box;
    opacity: 1;
}

#library {
    top: 417px;
    left: 1551px;
    width: 282px;
    height: 68px;
    background: #F9EE89DB 0% 0% no-repeat padding-box;
    opacity: 1;
}

#logout {
    top: 417px;
    left: 1551px;
    width: 282px;
    height: 68px;
    background: #F9EE89DB 0% 0% no-repeat padding-box;
    opacity: 1;
}