* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-size: 16px;
    overflow-x: hidden;
}

.white_board {
    width: 100%;
    height: 100%;
    border: 15px solid #454D53;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#board_title_container {
    width: auto;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board_title {
    text-align: center;
    text-decoration: underline;
    font: Bold 50px;
    letter-spacing: 0px;
    color: #696060;
}

#form_container {
    width: 100%;
    height: 35%;
    border-bottom: 1px solid #707070;
    display: flex;
    justify-content: center;
    margin-left: 30px;
}